{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <div class="card">
        <div class="card-body">
            <div class="row mt-3">
                <div class="col-12">
                    <h4>Manage custom price</h4>
                </div>
                <div class="col-12">
                    <img src="https://cdn.shopify.com/s/files/1/0262/4071/2726/files/emptystate-files.png"
                        role="presentation" alt="" class="Polaris-EmptyState__Image" />
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="button" id="view-all-products">
                        <!-- <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text">View Products</span>
                        </span> -->
                        View Products
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrahead %}
<!-- <script type="text/javascript">
        document.getElementById('view-all-products').onclick = function(){
            ShopifyApp.redirect('/products')
        };
    </script> -->
<!-- <script type="module">
    import { app } from "./appBridgeConfig.js"
    import { Redirect } from "./appBridgeConfig.js"

</script> -->

<script type="text/javascript">
    document.getElementById('view-all-products').onclick = function () {
        console.log(app, Redirect, "pppp")  
        app.dispatch(
            Redirect.toRemote({
                url: '/products'
            })
        );
    };
</script>
{% endblock %}